@charset "UTF-8";
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Regular.eot");
  src: local("☺"), url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.ttf") format("truetype"), url("../fonts/Ubuntu-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.eot");
  src: local("☺"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

.home-section {
  position: relative;
}

.home-section__container {
  position: relative;
}

.home-section__header {
  margin: 15px;
  position: absolute;
}

.home-section__background {
  overflow: hidden;
  height: 480px;
}

.home-section__background-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.home-section__banner {
  margin: 0 15px;
  position: absolute;
  bottom: 20px;
}

.home-section__title {
  margin-top: 38px;
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  color: #fefeff;
  position: relative;
}

.home-section__title::before {
  content: '';
  height: 2px;
  width: 45px;
  background-color: #e3a93b;
  position: absolute;
  top: -15px;
}

.home-section__subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  color: #a6adcb;
}

.home-section__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fefeff;
  margin-top: 30px;
}

.home-section__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.nav {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__item {
  display: block;
  color: #a6adcb;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.nav__item:active {
  color: #fefeff;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  display: block;
  height: 35px;
  width: 35px;
  margin-right: 25px;
  position: relative;
}

@media (min-width: 360px) {
  .home-section__background {
    height: 640px;
  }
  .home-section__title {
    font-size: 54px;
    margin-bottom: 20px;
    max-width: 500px;
  }
  .home-section__subtitle {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .home-section__text {
    font-size: 18px;
    line-height: 26px;
    max-width: 420px;
    margin-bottom: 20px;
  }
  .nav {
    font-size: 16px;
    line-height: 45px;
  }
}

@media (min-width: 768px) {
  .home-section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 768px;
    background-color: #181c28;
  }
  .home-section__container {
    position: static;
    width: 738px;
    z-index: 1;
  }
  .home-section__header {
    margin: 15px 0;
    position: static;
  }
  .home-section__background {
    height: 768px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .home-section__banner {
    margin: 0;
    bottom: 60px;
    max-width: 500px;
  }
  .home-section__title {
    margin-bottom: 30px;
    font-size: 58px;
  }
  .home-section__title::before {
    width: 70px;
    top: -30px;
  }
  .home-section__subtitle {
    font-size: 20px;
  }
  .home-section__text {
    font-size: 18px;
    line-height: auto;
    margin-top: 60px;
  }
  .home-section__social {
    margin-top: 40px;
  }
  .nav {
    line-height: auto;
  }
  .nav__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .social__item {
    height: 25px;
    width: 25px;
  }
}

@media (min-width: 1024px) {
  .home-section__container {
    width: 993px;
  }
  .home-section__banner {
    max-width: 600px;
  }
  .home-section__title {
    font-size: 86px;
  }
  .home-section__title::before {
    width: 95px;
  }
}

.about {
  background-color: #ced3e6;
  border-color: white;
  border-style: solid;
  border-width: 10px;
}

.about__text-block {
  margin: 10px;
}

.about__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  color: #1f222c;
  margin: 50px 0 20px 0;
}

.about__subtitle {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 18px;
  color: #fefeff;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.about__text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #1f222c;
  line-height: 20px;
  text-align: justify;
}

.about__paragraph {
  margin: 20px 0;
}

.about__img-container {
  overflow: hidden;
  height: 213px;
}

.about__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

@media (min-width: 360px) {
  .about__img-container {
    height: 600px;
  }
}

@media (min-width: 768px) {
  .about {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1000px;
  }
  .about__container {
    position: static;
    width: 738px;
  }
  .about__img-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .about__text {
    max-width: 738px;
  }
}

@media (min-width: 1023px) {
  .about {
    height: 720px;
    background-color: #ced3e6;
    border-width: 0;
  }
  .about__container {
    width: 993px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .about__text-block {
    margin: 40px;
  }
  .about__title {
    font-size: 60px;
    margin: 50px 0 20px 0;
  }
  .about__subtitle {
    font-size: 30px;
    margin: 0 0 100px 0;
  }
  .about__text {
    font-size: 16px;
    max-width: 400px;
    position: relative;
  }
  .about__text::before {
    content: '';
    height: 2px;
    width: 100px;
    background-color: #ffffff;
    position: absolute;
    top: -40px;
  }
  .about__paragraph {
    margin: 20px 0 0 0;
  }
  .about__img-container {
    height: 600px;
    width: 50%;
  }
}

.project {
  background-color: #202129;
}

.project__text-block {
  padding: 20px;
}

.project__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  color: #fefefe;
  margin: 50px 0 20px 0;
}

.project__subtitle {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 18px;
  color: #fefeff;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.project__text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #ced3e6;
  line-height: 20px;
  text-align: justify;
}

.project__paragraph {
  margin: 20px 0;
}

.project__img-container {
  overflow: hidden;
  height: 213px;
  position: relative;
}

.project__img-container::before {
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(#202129), to(rgba(32, 33, 41, 0)));
  background: linear-gradient(180deg, #202129 0%, rgba(32, 33, 41, 0) 100%);
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
}

.project__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 360px) {
  .project__img-container {
    height: 600px;
  }
}

@media (min-width: 768px) {
  .project {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1000px;
  }
  .project__container {
    position: static;
    width: 738px;
  }
  .project__img-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .project__text {
    max-width: 738px;
  }
}

@media (min-width: 1023px) {
  .project {
    height: 720px;
    background-color: #202129;
  }
  .project__container {
    width: 993px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    z-index: 1;
  }
  .project__text-block {
    padding: 40px;
  }
  .project__title {
    font-size: 60px;
    margin: 50px 0 20px 0;
  }
  .project__subtitle {
    font-size: 30px;
    margin: 0 0 60px 0;
  }
  .project__text {
    font-size: 16px;
    max-width: 400px;
    position: relative;
  }
  .project__text::before {
    content: '';
    height: 2px;
    width: 100px;
    background-color: #ffffff;
    position: absolute;
    bottom: -40px;
  }
  .project__paragraph {
    margin: 20px 0 0 0;
  }
  .project__img-container {
    height: 600px;
    width: 65%;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  .project__img-container::after {
    content: '';
    background: -webkit-gradient(linear, left top, right top, from(#202129), to(rgba(32, 33, 41, 0)));
    background: linear-gradient(90deg, #202129 0%, rgba(32, 33, 41, 0) 100%);
    height: 100%;
    width: 250px;
    position: absolute;
    left: 0;
  }
}

.gallery {
  padding-bottom: 50px;
  background-color: #ced3e6;
}

.gallery__title {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  color: #1f222c;
  margin: 0;
  padding: 50px 0 20px 0;
}

.gallery__subtitle {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 18px;
  color: #fefeff;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.gallery__img-container {
  margin: 10px 10px 0 10px;
  overflow: hidden;
  height: 320px;
}

.gallery__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 360px) {
  .gallery__img-container {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .gallery__fotos-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 10px;
  }
  .gallery__img-container {
    margin: 10px 10px 0 10px;
  }
}

@media (min-width: 1023px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery__container {
    max-width: 993px;
  }
  .gallery__fotos-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .gallery__img-container {
    margin: 0;
  }
  .gallery__img-container:nth-child(2) {
    margin: 0 20px;
  }
}

.footer {
  padding: 60px 0;
  background: #1a1b20;
}

.footer__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.footer__list-item {
  text-decoration: none;
  font-family: 'Ubuntu';
  color: #4b4d68;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 37px;
}

.footer__contact-block {
  padding: 0 20px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 170px;
}

.footer__socials-item {
  height: 30px;
  width: 30px;
}

.footer__email-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.footer__icon-envelope {
  width: 30px;
  margin-right: 20px;
}

.footer__email {
  text-decoration: none;
  font-family: 'Ubuntu';
  color: #ced3e6;
  font-size: 16px;
  font-weight: 400;
}

.footer__author {
  text-align: center;
  margin-top: 50px;
}

.footer__author-description {
  font-family: 'Ubuntu';
  color: #4b4d68;
  font-size: 16px;
  font-weight: 400;
}

.footer__author-link {
  text-decoration: none;
  font-family: 'Ubuntu';
  color: #4b4d68;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .footer {
    height: 200px;
    position: relative;
  }
  .footer__navigation {
    position: absolute;
    left: 20px;
  }
  .footer__list {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 200px;
  }
  .footer__list-item {
    display: block;
  }
  .footer__contact-block {
    padding: 0;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    right: 20px;
  }
  .footer__author {
    text-align: end;
  }
}

@media (min-width: 1023px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__container {
    width: 993px;
    position: relative;
  }
  .footer__navigation {
    left: 0;
  }
  .footer__contact-block {
    right: 0;
  }
}
/*# sourceMappingURL=style.css.map */